.container {
    background-color: #fff;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col {
    padding: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .gallery-item {
    width: 100%;
  }
  
  .gallery-item img {
    width: 100%;
    height: 10rem;
  }
      
  .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .feature {
    flex-basis: 23%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }
  
  .feature i {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .feature h3 {
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 14px;
    color: rgb(73, 73, 73);
  }

  table.thead.tr.th, table.tbody.tr th{
    border: 1px solid black;
  }
  

  /*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.space_grid{
  width: 35%;
  margin: o 12px;
}
.features .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.features .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.features .card-title a {
  color: #3c4133;
}

.features .card-text {
  color: #5e5e5e;
}

.features .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.features .read-more a:hover {
  text-decoration: underline;
}

.features .card:hover .card-body {
  background: #023b6d;
}

.features .card:hover .read-more a,
.features .card:hover .card-title,
.features .card:hover .card-title a,
.features .card:hover .card-text {
  color: #fff;
}


.tableClass{
  // align-items: center;
  width: 60%;
  /* padding: 0px 182px; */
  border-collapse: collapse;
  margin: auto;
  border: 1px solid;
  .header{
    background-color:#9AC5F4;
    padding: 12px;
    border: 1px solid;
  }
  .class_row{
    padding: 12px;
    border: 1px solid;
    display: block;
  }
  .sub_row{
    justify-content: center;
    display: grid;
    column-gap: 2;
    .row_align{
      padding: 12px;
    }
  }
}