.container {
    background-color: #fff;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col {
    padding: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .gallery-item {
    width: 100%;
  }
  
  .gallery-item img {
    width: 100%;
    height: 10rem;
  }
      
  .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .feature {
    flex-basis: 23%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }
  
  .feature i {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .feature h3 {
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 14px;
    color: rgb(73, 73, 73);
  }
  
  


  #venue {
    padding: 60px 0;
  }
  
  #venue .container-fluid {
    margin-bottom: 3px;
  }
  
  #venue .venue-map iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  
  #venue .venue-info {
    // background: url("../img/venue-info-bg.jpg") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .align_img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-gap: 20px;
  }
  #venue .venue-info:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #venue .venue-info h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
  }
  
  @media (max-width: 574px) {
    #venue .venue-info h3 {
      font-size: 24px;
    }
  }
  
  #venue .venue-info p {
    color: #fff;
    margin-bottom: 0;
  }
  
  #venue .venue-gallery-container {
    padding-right: 12px;
  }
  
  #venue .venue-gallery {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  
  #venue .venue-gallery img {
    transition: all ease-in-out 0.4s;
  }
  
  #venue .venue-gallery:hover img {
    transform: scale(1.1);
  }
  