<div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">About Us</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at felis sit amet odio ultricies gravida.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at felis sit amet odio ultricies gravida.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at felis sit amet odio ultricies gravida.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at felis sit amet odio ultricies gravida.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at felis sit amet odio ultricies gravida.
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <h2 class="text-center">Gallery</h2>
        <div class="gallery-grid">
          <div class="gallery-item" *ngFor="let image of imageObject">
            <img [src]="image.image" alt="Image">
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col">
        <h2 class="text-center">Features</h2>
        <div class="features">
          <div class="feature">
            <i class="fa fa-flask"></i>
            <h3>Laboratory</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="feature">
            <i class="fa fa-book"></i>
            <h3>Library</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="feature">
            <i class="fa fa-futbol-o"></i>
            <h3>Sports Facilities</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="feature">
            <i class="fa fa-music"></i>
            <h3>Music Classes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  