.container {
    background-color: #fff;
    max-width: 1400px;
    margin: 0 auto;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col {
    padding: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .gallery-item {
    width: 100%;
  }
  
  .gallery-item img {
    width: 100%;
    height: 10rem;
  }
      
  .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .feature {
    flex-basis: 23%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }
  
  .feature i {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .feature h3 {
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 14px;
    color: rgb(73, 73, 73);
  }
  //mat input

//   ::ng-deep.mat-mdc-text-field-wrapper {
//     border: 1px solid;
//     padding: 8px !important;
//     border-bottom: 0px;
//   }
//   ::ng-deep .mdc-text-field--focused {
//     border-bottom: 0px;
//   }

.flex_form{
    display: flex;
    .input_space{
        // margin-right: 12px;
        padding: 12px;
        width: 50%;
        .input{
            width: 100%;
            height: 24px;
            &.inp_box_h{
                height: 50px;
            }
        }
        .flex-custom{
            display: flex !important;
            margin-bottom: 8px;
        }
    }
}

.flex-custom{
    display: flex !important;
}
::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
    background-color: #023b6d !important;
    color: #fff;
}

::ng-deep .mat-step-header{
    background: aliceblue;
    border: 1px solid;
    border-radius: 34px;
}